<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item active">
            <a class="nav-link logo-font font-weight-bold nav-link text-black mr-4" href="#">Shop All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link logo-font font-weight-bold nav-link text-black mr-4" href="#">Chocolate Bouquets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link logo-font font-weight-bold nav-link text-black mr-4" href="#">Meet &amp; Cheese</a>
        </li>
        <li class="nav-item">
            <a class="nav-link logo-font font-weight-bold nav-link text-black mr-4" href="#">Veggies &amp; Fruits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link logo-font font-weight-bold nav-link text-black mr-4" href="#">Contact Us</a>
        </li>
    </ul>
</div>