<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item active">
            <a class="btn2 nav-link logo-font font-weight-bold nav-link text-black mr-4" href="{% url 'products' %}" id="top-menu-btn">Shop All</a>
        </li>
        <li class="nav-item">
            <a class="btn2 nav-link logo-font font-weight-bold nav-link text-black mr-4" href="{% url 'products' %}?category=chocolate">Chocolate Bouquets</a>
        </li>
        <li class="nav-item">
            <a class="btn2 nav-link logo-font font-weight-bold nav-link text-black mr-4" href="{% url 'products' %}?category=meet_cheese">Meat &amp; Cheese</a>
        </li>
        <li class="nav-item dropdown">
            <a class="btn2 logo-font font-weight-bold nav-link text-black mr-5" href="" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Veggies &amp; Fruits
            </a>
            <div class="dropdown-menu border-0 shadow-sm" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?q=veggie" class="btn2 dropdown-item">Veggies</a>
                <a href="{% url 'products' %}?q=fruit" class="btn2 dropdown-item">Fruits</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="btn2 nav-link logo-font font-weight-bold nav-link text-black mr-4" href="{% url 'contact' %}">Contact Us</a>
        </li>
    </ul>
</div>